*{
  border: 0px;
  margin: 0px;
  box-sizing: 0px;
  padding: 0px;
}

.body{
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 2% 38%;
  height: 97vh;
  grid-template-rows: 10% 90%;
  grid-template-areas: "navigation division aside"
                       "main division aside"
                       "main division footer";
}