/* style global */

.main{
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(4, 21%);
  row-gap: 4%;
}

.grid-template-columns-7{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.title-cards{
  display: block;
  padding: 1rem 0 .5rem 1.5rem;
  font-size: 1.7rem;
}

.set-icon{
  background-position: center;
  background-repeat: no-repeat;
  width: 3.5rem;
  height: 3.5rem;
  outline: red;
}

.day-list-item,
.hour-list-item{
  display: grid;
  justify-items: center;
  font-size: 1.5rem;
}

.day-list-item-paragraph{
  padding-top: .5rem;
}

/* end style global */

/* style for cards */

.card{
  border: 1px solid black;
  border-radius: 5px;
  min-width: 86%;
  margin: 0 auto;
  box-shadow: 2px 3px rgba(0, 0, 0, .4);
}

/* end style for cards */
