/* start first card day weather */

.day-list{
  grid-template-areas: ". a . b . c .";
}

.day-list-item.a0 {
  grid-area: a;
}

.day-list-item.a1{
  grid-area: b;
}

.day-list-item.a2{
  grid-area: c;
}

/* end first card day weather*/