/* second card hour weather*/

.hour-list{
  grid-template-areas: ". ba . bb . bc .";
}

.hour-list-item-paragraph{
  padding: .5rem 0 .2rem 0;
}

.hour-list-item.b0{
  grid-area: ba;
}

.hour-list-item.b1{
  grid-area: bb;
}

.hour-list-item.b2{
  grid-area: bc;
}
/* end second card hour weather */